
@model PagedList.IPagedList<WebSystem.Models.User>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<form method="get" id="form_searchUser"></form>

@using (Html.BeginForm("DeleteSelected", "User", FormMethod.Post))
{
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    <input type="submit" value="Delete Selected" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete selected Users?');" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/")jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.chkCheckBoxId').prop('checked', true);
                else
                    $('.chkCheckBoxId').prop('checked', false);
            });
        });
    </script>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkBoxAll" />
                </th>
                <th>
                    @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Login", "Index", new { sortOrder = ViewBag.LoginSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.MailSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    <input type="search" id="searchUser" name="searchUser" placeholder="Search..." class="form-control" form="form_searchUser" />
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <input type="checkbox" value="@item.UserId" name="userDelId" class="chkCheckBoxId" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogin)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", routeValues: new { id = item.UserId }, htmlAttributes: new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.UserId }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>

        }

    </table>
}

<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

