@model IEnumerable<WebSystem.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div align="right">
    <form method="post">
        <input type="search" id="searchUser" name="searchUser" placeholder="Search..." class="form-control" />
    </form>
</div>
@Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserLogin)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                 @Html.ActionLink("Index", "Index", routeValues: true, htmlAttributes: new { @class = "btn btn-info" })
                <!--<input type="submit" id="orderList" name="orderList" value="Order" class="btn btn-info" formaction="Url.Action("Order")" formmethod="post" />-->

            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", routeValues: new { id = item.UserId }, htmlAttributes: new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.UserId }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>